<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <title>Checkerboard</title>
</head>
<body>
    <h1 style="background-color: {{ color2 }}; color: {{ color1 }};">*** Checkerboard ***</h1>
    <!-- Create board -->
    <div class="wrapper">
        <!-- Create loop for number of rows -->
        {% for r in range(0, num1) %}
            <!-- Use mod to alternate rows start color -->
            {% if r % 2 == 0 %}
                <div class="row">
                    <!-- Create loop for number of boxes in rows (aka col) -->
                    {% for c in range(0, num2) %}
                    <!-- Use mod to alternate box colors in row -->
                        {% if c % 2 == 0 %}
                            <div class="box" style="background-color: {{ color2 }};"></div>
                        {% else %}
                            <div class="box" style="background-color: {{ color1 }};"></div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% else %}
                <div class="row">
                    {% for c in range(0, num2) %}
                        {% if c % 2 == 0 %}
                            <div class="box" style="background-color: {{ color1 }};"></div>
                        {% else %}
                            <div class="box" style="background-color: {{ color2 }};"></div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='/js/script.js') }}"></script>
</body>
</html>
